# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

analysis/anotacaoComunidades.csv
analysis/anotacaoComunidades.CSV
*anotacaoComunidades.CSV
*anotacaoComunidades.csv